<h1>Editar Medico</h1>

<%= render "form", medic: @medic %>

<br>

<div >
  <%= link_to "Ver Medico", @medic, class:"btn btn-outline-info" %>
  <%= link_to "Listagem de medicos", medics_path, class:"btn btn-outline-secondary" %>
</div>
