<h1>Editar Prontuario</h1>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Ver Prontuario", @article, class:"btn btn-outline-info"%> 
  <%= link_to "Listagem de Prontuarios", articles_path, class:"btn btn-outline-primary"%>
</div>
